.footer-container {
  display: flex;
  justify-content: space-between;  
  margin: 20px ;
  gap: 2rem;  
  padding: 20px;  
  background-color: #f8f9fa;
  border-radius: 8px;
  box-shadow: 0 1px 7px rgba(0, 0, 0, 0.1);
}

.footer-section h3 {
  font-size: 1rem;  
  
}

.footer-social {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
}

.footer-social a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  color: rgb(66, 65, 65);
  transition: all 0.3s ease;
}


.footer-links {
  list-style: none;
  padding: 0;
}

.footer-links a:hover {
  color: white;
  padding-left: 5px;
}

.footer-contact {
  list-style: none;
  padding: 5;
}

.footer-contact li {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  margin-bottom: 1rem;
  opacity: 0.9;
}

.footer-contact a {
    color: rgb(66, 65, 65);
  text-decoration: none;
  transition: opacity 0.3s ease;
}

.footer-contact a:hover {
  opacity: 0.8;
}

@media (max-width: 768px) {
  .footer-container {
    justify-content: center;
    flex-wrap: wrap;
    grid-template-columns: 1fr;
    text-align: center;
  }

  .footer-social {
    justify-content: center;
  }

  .footer-bottom .footer-container {
    flex-direction: column;
    text-align: center;
  }
}