.card-3d {
  perspective: 1000px;  
  width: 100%;
  height: 450px;
  cursor: pointer;
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.5s;
  transform-style: preserve-3d;
}

.card-inner.is-flipped {
  transform: rotateY(180deg);
}

.card {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  transform-style: preserve-3d;
  box-sizing: border-box;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  border: 1px solid #f3f0f2;
  border-radius: 10px;
  text-align: left;
  background: #fffbfb;
  overflow-y: auto;
  
}

/* front se muestra por defecto */
.card-front {
  z-index: 2;
  transform: rotateY(0deg);
}

/* back rotada 180 grados */
.card-back {
  transform: rotateY(180deg);
  z-index: 1;
}

.features-list-front {
  display: flex;
    margin-top: 1px ;
    top: 50px;
    
  flex-direction: column;
  gap: 0.5rem;
  text-align: left;
  width: 100%;
  flex: 1;
}
.features-list {
  display: flex;
  margin-top: 30px;  
  flex-direction: column;
  gap: 0.5rem;
  text-align: left;
  width: 100%;
  flex: 1;
}

.features-list p {
  margin: 0;
  top: 100px;
  font-size: 0.85rem;
  line-height: 1.4;
}

.card h4 {
  margin: 0.25rem 0;
  font-size: 1rem;
  color: #000000;
}



.card p {
  margin: 0.25rem 0;
  font-size: 0.9rem;
  color: #353232;
}

.card button {
  margin-top: auto;
  padding: 0.6rem 1rem;
  background: #478ad3;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 0.9rem;
  
}

.card button:hover {
  background: #0056b3;
}

.imagen_contenedor {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  display: block;
  overflow: hidden;
  margin-bottom: 0.5rem;
}

.card-image {
  width: 300px;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
  
}
