#root {
  margin: 0 auto;
  padding: 0; 
  text-align: center;
  justify-content: center;
  max-width: 1200px;
}

html {
  scrollbar-gutter: stable; /* Reserva espacio para el scrollbar */
}

.contenedor-app {
  display: flex;
  flex-direction: column;
  border: 1px solid #d6d0d0;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  background: #f9f9f9;  
  
}

.grid {
  display: grid;
  
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 1.7rem;
  margin-top: 1rem;
  padding: 100px 2rem; /* padding horizontal */
}

/* Para pantallas grandes (desktop) */
@media (min-width: 1024px) {
  .grid {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    max-width: 1200px;
    margin: 1rem auto;
    padding: 0 2rem;
  }
}

/* Para pantallas medianas (tabletas) */
@media (min-width: 768px) and (max-width: 1023px) {
  #root {
    padding: 0;
  }
  
  .grid {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
    padding: 0 1rem;
    margin-top: 1rem;  
    
  }

  .filter-input {
    width: 580px;
  }

  .card-3d {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
  }
}

/* Para pantallas pequeñas (móviles) */
@media (max-width: 767px) {
  #root {
    padding: 0;
  }
  
  .grid {
    grid-template-columns: 1fr;
    gap: 1.5rem;
    padding: 0 1rem;
    margin-top: 1rem;
  }

  .card-3d {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
  }

  .card-inner {
    height: auto;
    min-height: 400px;
  }
}







