
.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 16px;
  align-items: center;
  justify-content: center;
  
  z-index: 9999;
}

.modal-content {
  background: #fff;
  opacity: 0.65;
  width: 600px;
  height: auto;
  color: #000;
  padding: 1rem 1.25rem;
  border-radius: 8px;
  box-shadow: 10px 8px 24px rgba(0,0,0,0.3);
  max-width: 90%;
  width: 320px;
  text-align: center;
}

.modal-content p {
  margin: 0 0 1rem 0;
}

.modal-content button {
  padding: 0.4rem 0.8rem;
  border: none;
  background: #007bff;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
}