.nav-container {
 
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;  
  padding: 1rem 2rem;
}


.nav-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10000;
  animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.nav-menu {
  display: flex;
  flex-direction: column;  
  border-radius: 10px;
  z-index: 20000;
  background: linear-gradient(135deg, #478ad3 0%, #0d77f0 100%);
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  margin: 20px ;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.nav-logo {
  display: flex;
  justify-content: start;
  font-size: 1.5rem;
  font-weight: bold;
  color: #fafafa;
  text-decoration: none;
  margin-right: auto; /* Esto empuja todo lo demás a la derecha */
  
}

.nav-links {
  display: flex;
  gap: 2rem;
  list-style: none;
  margin: 0;
  padding: 0;
  align-items: end;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  transition: all 0.3s;
}

.nav-links a:hover {
  background: rgba(255,255,255,0.2);
  transform: translateY(-2px);
}


.nav-toggle {
  display: none;
  background: none;
  border: none;
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
  padding: 0.5rem;
}

/* Tablet */
@media (min-width: 1200px) {
  .nav-container {
    padding: 1rem 1.5rem;
  }

  .filter-container {
  display: flex;
  flex-direction: column;
  justify-content: center;  
  
  
  padding: 20px;  
  background-color: #f8f9fa;
  border-radius: 8px;
  box-shadow: 0 1px 7px rgba(0, 0, 0, 0.1);
 
}
  
  .nav-links {
    gap: 1.5rem;
  }
}

/* Movil - Menú hamburguesa */
@media (max-width: 900px) {
  

  .nav-toggle {
    display: block;
    
  }

  .nav-links {
    
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
    width: 0;
    max-width: 200px;
    background-color: #939396;
    flex-direction: column;
    padding: 5rem 0 2rem 0;
    gap: 1.5rem;
    overflow: hidden;
    transition: width 0.3s ease-in-out;
    box-shadow: -2px 0 10px rgba(0, 0, 0, 0.3);
    z-index: 15000;
  }

  .nav-links.active {
    width: 70%;
  }

    .nav-links li {
    width: 100%;
    text-align: center;
    opacity: 0;
    transform: translateX(20px);
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  }

  .nav-links.active li {
    opacity: 1;
    transform: translateX(0);
  }

  .nav-links.active li:nth-child(1) {
    transition-delay: 0.1s;
  }

  .nav-links.active li:nth-child(2) {
    transition-delay: 0.2s;
  }

  .nav-links.active li:nth-child(3) {
    transition-delay: 0.3s;
  }

  .nav-links.active li:nth-child(4) {
    transition-delay: 0.4s;
  }

  .nav-links li a {
    display: block;
    padding: 1rem;
    font-size: 1.1rem;
  }
}