.nav-container {
 
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;  
  padding: 1rem 2rem;
}

.nav-menu {
  display: flex;
  flex-direction: column;  
  border-radius: 10px;
  z-index: 20000;
  background: linear-gradient(135deg, #478ad3 0%, #0d77f0 100%);
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  margin: 20px ;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.nav-logo {
  display: flex;
  justify-content: start;
  font-size: 1.5rem;
  font-weight: bold;
  color: #fafafa;
  text-decoration: none;
  margin-right: auto; /* Esto empuja todo lo demás a la derecha */
  
}

.nav-links {
  display: flex;
  gap: 2rem;
  list-style: none;
  margin: 0;
  padding: 0;
  align-items: end;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  transition: all 0.3s;
}

.nav-links a:hover {
  background: rgba(255,255,255,0.2);
  transform: translateY(-2px);
}


.nav-toggle {
  display: none;
  background: none;
  border: none;
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
  padding: 0.5rem;
}

/* Tablet */
@media (max-width: 1023px) {
  .nav-container {
    padding: 1rem 1.5rem;
  }
  
  .nav-links {
    gap: 1.5rem;
  }
}

/* Mobile - Menú hamburguesa */
@media (max-width: 700px) {
  .nav-container {
    padding: 1rem;
  }

  .nav-toggle {
    display: flex;
    
  }

  .nav-links {
    position: fixed;
    top: 70px;
    left: 0;
    right: 0;
    flex-direction: column;
    background: linear-gradient(135deg, #bebfc5 0%, #0f55d8 100%);
    opacity: 0.96;
    backface-visibility: visible;
    padding: 2rem;
    
    gap: 1rem;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  }

  .nav-links.active {
    transform: translateX(0);
  }

  .nav-links a {
    width: 100%;
    text-align: center;
    padding: 1rem;
    border-radius: 8px;
  }
}